# Fichiers Maven
/target/

# Fichiers de l'IDE
.idea/
*.iml

# Fichiers temporaires
*.log
*.class
# Standardiser les fins de ligne sur LF pour tous les fichiers texte
* text=auto eol=lf

# S'assurer que certains fichiers spécifiques utilisent toujours LF
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.html text eol=lf